# pixi environments
.pixi/*
!.pixi/config.toml

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

data/raw/*
data/processed/*
data/transformed/*
models/*
outputs/*
experiments/artifacts/*

# Keep the folders (don't ignore the .gitkeep files)
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/transformed/.gitkeep

# Wandb
wandb/