# pixi environments
.pixi/*
!.pixi/config.toml

data/raw/*
data/processed/*
data/transformed/*
models/*

# Keep the folders (don't ignore the .gitkeep files)
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/transformed/.gitkeep